body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(image/coding-924920_1280.jpg);
    background-size: cover;
}
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.navbar{
    background: #152327;
    padding-bottom: 15px;
    padding-top: 10px;
}
.navbar .container-fluid .navbar-header a{
    color:white;
}
/* .navbar .container-fluid .collapse .navbar-nav{
    margin-left: 30%;
} */
.navbar .container-fluid .collapse ul li a{
    color:white;
    background: none;
    text-align: center;
}
.navbar .container-fluid .collapse ul li {
    padding-left: 10px;
}
.navbar .container-fluid .collapse ul li a:hover{
    background:none;
}
.navbar .container-fluid .collapse .navbar-right a{
    border: 1px solid white;
    border-radius: 28px;
    padding-left: 10px;
}

/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.a{
  
    
}
.form{
    /* width: 500px; */
    padding: 40px;
    /* top: 10%;
    left: 40%;
    transform: translate(-50%, -50%); */
/*     position: absolute;
 */ background: rgba(28, 28, 28, 0.8);
    text-align: center;
}
.form h1{
    color: white;
    text-transform: uppercase;
    font-weight: bold;

}
.form input[type="email"], .form input[type="password"]{
    border:0;
    background: none;
    display: block;
    text-align: center;
    margin: 30px auto;
    border: 2px solid darkorange;
    padding: 14px 10px;
    /* width: 300px; */
    color: white;
    border-radius: 26px;
    transition: 0,25s;
    outline: none;
    transition: all 1s;
}
form input[type="email"]:focus, .form input[type="password"]:focus{
    /* width: 400px; */
    border-color:rgb(20, 80, 50);
    padding-left: 30px;
    padding-right: 30px;

}
.form input[type="submit"]{
    border:0;
    background: none;
    display: block;
    text-align: center;
    margin: 30px auto;
    border: 2px solid rgb(20, 80, 50);
    padding: 14px 4px;
     width: 150px;
    color: white;
    border-radius: 26px;
    transition: 0,25s;
    cursor: pointer;
}
.form input[type="submit"]:hover{
    background: rgb(20, 80, 50);
}

/* @media (max-width: 600px){
    .form{
        width: auto;
        padding: 10px;
        /* top: 10%;
        left: 40%;
        transform: translate(-50%, -50%); 
        position: absolute;
        background: rgba(28, 28, 28, 0.8);
       
        text-align: center;
    }
    .form h1{
        color: white;
        text-transform: uppercase;
        font-weight: bold;
    
    }
    .form input[type="email"], .form input[type="password"]{
        border:0;
        background: none;
        display: block;
        text-align: center;
        margin: 10px auto;
        border: 2px solid darkorange;
        padding: 4px 4px;
        width: auto;
        color: white;
        border-radius: 26px;
        transition: 0,25s;
        outline: none;
    }
    form input[type="email"]:focus, .form input[type="password"]:focus{
        width: 250px;
        border-color:rgb(20, 80, 50);
    }
    .form input[type="submit"]{
        border:0;
        background: none;
        display: block;
        text-align: center;
        margin: 20px auto;
        border: 2px solid rgb(20, 80, 50);
        padding: 4px 4px;
        width: auto;
        color: white;
        border-radius: 26px;
        transition: 0,25s;
        cursor: pointer;
    }
    .form input[type="submit"]:hover{
        background: rgb(20, 80, 50);
    }
} */